mixin certificates()
    section.certificates
        .container
            img.certificates__img(src=$img+"certificate.png", alt="")
            img.certificates__img(src=$img+"certificate2.png", alt="")