mixin nav()
    section.nav
        .container
            ul.nav__list
                li.nav__item
                    a.nav__link(href='index.html') Главная
                li.nav__item
                    a.nav__link(href='sorting.html') Подбор по продукту
                li.nav__item
                    a.nav__link(href='catalog.html') Каталог
                li.nav__item
                    a.nav__link(href='news.html') Новости
                li.nav__item
                    a.nav__link(href='gallery.html') Галерея
                li.nav__item
                    a.nav__link(href='contacts.html') Контакты    
