mixin our-video()
	section.our-video
		.container
			h2 Наше видео
			.our-video__slider--mob
				.swiper-wrapper.our-video__container
					.swiper-slide.our-video__video-block
						iframe.our-video__video(height="200" src="https://www.youtube-nocookie.com/embed/D_aEzh3V7oA?modestbranding=1iv_load_policy=3showinfo=0controls=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
						p.our-video__text Гравитационный дозатор
					.swiper-slide.our-video__video-block
						iframe.our-video__video(height="200" src="https://www.youtube-nocookie.com/embed/yPfRbBBeJRs?modestbranding=1iv_load_policy=3showinfo=0controls=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
						p.our-video__text Фасовщик картофеля видео после доработки
					.swiper-slide.our-video__video-block
						iframe.our-video__video(height="200" src="https://www.youtube-nocookie.com/embed/dVFdyVpbheE?modestbranding=1iv_load_policy=3showinfo=0controls=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
						p.our-video__text Ленточный дозатор для фасовки угля
				.our-video__nav
					.swiper-pagination.our-video__pagination
			.our-video__btns
				a.btn.btn--dark.our-video__btn.js-open-popup(href='#' data-id='#popup-callback') Получить КП
				a.btn.btn--border.our-video__btn(href="gallery.html") Перейти в галлерею