mixin our-video()
	.our-video
		.container
			h2 Наше видео
			.our-video__container
				.our-video__video-block
					iframe.our-video__video(height="200" src="https://www.youtube-nocookie.com/embed/D_aEzh3V7oA?modestbranding=1iv_load_policy=3showinfo=0controls=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
					p.our-video__text Гравитационный дозатор
				.our-video__video-block
					iframe.our-video__video(height="200" src="https://www.youtube-nocookie.com/embed/yPfRbBBeJRs?modestbranding=1iv_load_policy=3showinfo=0controls=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
					p.our-video__text Фасовщик картофеля видео после доработки
				.our-video__video-block
					iframe.our-video__video(height="200" src="https://www.youtube-nocookie.com/embed/dVFdyVpbheE?modestbranding=1iv_load_policy=3showinfo=0controls=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

					p.our-video__text Ленточный дозатор для фасовки угля
			.our-video__btns
				a.btn.btn--dark.our-video__btn(href="#") Скачать прайс
				a.btn.btn--border.our-video__btn(href="#") Смотреть весь каталог