.selection {
	padding: 100px 0 70px;

	@media (max-width: $tablet) {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 10px;
			bottom: 0;
			width: calc(100% - 20px);
			height: 2px;
			background-color: transparentize($color-m-light, .85);;
		}
	}

	&__text {
		font-size: 18px;
		text-align: center;
		color: $color-dark;
		margin-bottom: 50px;
		margin-top: 10px;
	}

	&__product {
		text-decoration: none;
		max-width: 33.3%;
		flex-basis: 33.3%;
		&:hover {
			.selection__product-text {
				color: $color-m;
			}
		}

		@media (max-width: $tablet) {
			max-width: none;
			flex-basis: auto;
		}
	}

	&__product-back {
		position: relative;
		border-radius: 50%;
		background-color: transparentize($color-m-light, .8);
		width: 222px;
		height: 222px;
		margin: 0 auto;
		
		@media (max-width: $desktop) {
			width: 170px;
			height: 170px;
		}
		&::before {
			content: '';
			position: absolute;
			border-radius: 50%;
			background-color: transparentize($color-m-light, .6);
			width: 170px;
			height: 170px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);    
			
			@media (max-width: $desktop) {
				width: 120px;
				height: 120px;
			}
		}
	}

	&__product-img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: 100%;
	}

	&__product-text {
		margin-top: 10px;
		text-align: center;
		font-size: 18px;
		color: $color-dark;
		font-weight: bold;
		transition: all .2s ease-in;
		&::after {
			content: '';
			display: inline-block;
        	width: 13px;
        	height: 7px;
			margin-left: 5px;
			background-image: url($img+'arrow_down.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			transform: rotate(-90deg);
			vertical-align: middle;
		}

		@media (max-width: $desktop) {
			font-size: 18px;
		}
	}

	&__tab-nav {
		display: none;

		@media (max-width: $tablet) {
			display: block;
		}
	}

	&__tab-pagination {
		bottom: -50px;
	}

}