mixin selection()
    section.selection
        .container
            h2 Подбор оборудования
            p.text.selection__text Для фасовки, упаковки, автоматизации

            .selection__tab-content
                .swiper-wrapper.selection__tab-wrapper
                    a.swiper-slide.selection__product(href="sorting.html")
                        .selection__product-back
                            img.selection__product-img(src=$img+'selection_product1.png', alt="")
                        p.selection__product-text Пищевые продукты
                    a.swiper-slide.selection__product(href="sorting.html")
                        .selection__product-back
                            img.selection__product-img(src=$img+'selection_product2.png', alt="")
                        p.selection__product-text Сыпучие продукты
                    a.swiper-slide.selection__product(href="sorting.html")
                        .selection__product-back
                            img.selection__product-img(src=$img+'selection_product3.png', alt="")
                        p.selection__product-text Строительные и другие непищевые продукты

                .selection__tab-nav
                    .swiper-pagination.selection__tab-pagination
                    .swiper-button-prev.selection__tab-btn-prev
                    .swiper-button-next.selection__tab-btn-next                       
