mixin contacts()
  section.contacts
    .container
      .contacts__flex
        .contacts__block-text
          h2.contacts__header Контакты
          ul.contacts__list
            li.contacts__item
              svg.link__icon.contacts__icon
                use(xlink:href= $img + "sprite.svg#location")
              p.contacts__text Ждем Вас по адресу:
              a.contacts__link(href="https://yandex.ru/maps/?pt=44.12,56.12&z=12&l=map") Россия, Нижегородская область, Кстово, Промышленный район, микрорайон Северный, квартал Стройбаза
            li.contacts__item
              svg.link__icon.contacts__icon
                use(xlink:href= $img + "sprite.svg#phone-call")
              p.contacts__text Звоните:
              .contacts__block-links
                a.contacts__link(href="tel:+79200422588") 8 920 042-25-88
                a.contacts__link(href="tel:+78312830349") 8 831 283-03-49
                a.contacts__link(href="tel:+79306997106") 8 930 699-71-06
            li.contacts__item 
              svg.link__icon.contacts__icon
                use(xlink:href= $img + "sprite.svg#email")
              p.contacts__text Пишите:
              a.contacts__link(href="mailto:LuckyMasters@mail.ru") LuckyMasters@mail.ru

          h2.contacts__header Реквизиты
          p.text.contacts__text ООО «Лаки Мастерс НН»
          p.text.contacts__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi provident expedita explicabo quo fugit, nesciunt laudantium in enim cupiditate quos aliquam assumenda, hic sequi, commodi veritatis ut reiciendis consequatur excepturi.

        .contacts__block-map
          .contacts__map#contacts__map