.contacts {
  margin-top: 60px;
  margin-bottom: 80px;
  &__flex {
    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__block-text {
    padding-right: 10px;
  }

  &__header {
    text-align: left;
  }

  &__list {
    margin-bottom: 20px;
  }

  &__item {
    position: relative;
    padding-left: 35px;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__text {
    font-size: 14px;
    color: $color-m-dark;
    line-height: 1.2;
    margin-top: 20px;
  }

  &__link {
    font-size: 14px;
    color: $color-m-dark;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    transition: all .2s ease-out;

    &:hover {
      color: $color-m;
    }
  }

  &__block-links {
    > * {
      margin-right: 25px;
      white-space: nowrap;
    }
  }

  &__block-map {
    max-width: 60%;

    @media (max-width: $tablet) {
      max-width: none;
      margin-top: 30px;
      margin-left: -10px;
      width: calc(100% + 20px);
    }
  }

  &__map {
    width: 700px;
    height: 100%;
    max-width: 100%;
    
    @media (max-width: $tablet) {
      height: 400px;
    }

    .ymaps-2-1-75-map {
      height: 100% !important;
    }
  }
  
}