mixin footer()
    footer.footer 
        .container
            .footer__row
                .footer__col
                    img.footer__logo(src=$img+"logo-light.png", alt="")
                    p.footer__small Copyright ООО «Лаки Мастерс НН» 2019

                    a.link.footer__policy(href="#") 
                        span.link__text.footer__policy-text Политика конфиденциальности
                .footer__col
                    -var items = ['меню', 'Главная', 'Подбор оборудования', 'Каталог', 'Новости', 'Галерея', 'Контакты']
                    ul.footer__list
                        li.footer__item
                            p.footer__list-header меню
                        li.footer__item
                            a.footer__link(href="index.html") Главная
                        li.footer__item
                            a.footer__link(href="#") Подбор оборудования
                        li.footer__item
                            a.footer__link(href="catalog.html") Каталог
                        li.footer__item
                            a.footer__link(href="news.html") Новости
                        li.footer__item
                            a.footer__link(href="gallery.html") Галерея
                        li.footer__item
                            a.footer__link(href="contacts.html") Контакты                       
                .footer__col
                    -var items = ['Каталог оборудования', 'Пищевые продукты', 'Сыпучие продукты', 'Строительные и другие непищевые продукты']
                    ul.footer__list
                        for item, index in items
                            if index == 0
                                li.footer__item
                                    p.footer__list-header #{item}
                            else        
                                li.footer__item
                                    a.footer__link(href="catalog.html") #{item}                    
                            