mixin employee-appeal()
    .employee-appeal
        .container
            .employee-appeal__content
                .employee-appeal__employee
                    .employee-appeal__employee-img
                        img(src=$img+"employee.png", alt="")
                    .employee-appeal__employee-caption
                        | С уважением, инженер по подбору 
                        | и поставке оборудования
                        | ООО «Лаки Мастерс НН»
                        br
                        span.bold Смирнов Алексей Владимирович
                .employee-appeal__appeal
                    p.employee-appeal__appeal-text
                        span.bold
                            | OOO «Лаки Мастерс НН»  по праву считается одним из ведущих частных 
                            | производственных предприятий Нижегородской области.
                        br
                        br
                        | Наша компания занимается разработкой и производством 
                        | фасовочно-упаковочного оборудования, а также других 
                        | технологических машин для пищевой, химической и фармацевтической 
                        | промышленности.
                        br
                        br
                        | Конкурентным преимуществом «Лаки Мастерс НН» является штат 
                        | профессиональных инженеров конструкторов, высокий уровень сервиса 
                        | и качество создаваемых машин.
                        br
                        br
                        | Первоочередная задача нашей команды состоит в обеспечении 
                        | предприятий необходимыми установками для термической обработки пищи 
                        | и вспомогательных операций (измельчения, сортировки, сушки и др.). 
                        | Используя самые передовые компьютерные технологии, мы постоянно 
                        | совершенствуем наш конструктивный ряд фасовочно-упаковочного, 
                        | дозировочного и жарочного оборудования. В рабочем цеху компании 
                        | рождаются собственные оригинальные идеи, которые затем получают 
                        | дальнейшее развитие и воплощение в жизнь.  