mixin gallery()
    .gallery
        .container
            h2.gallery__header Галлерея
            .js-gallery
                .gallery__page
                .gallery__pages-numbers
                        