mixin main-contacts()
	section.main-contacts
		.container.main-contacts__container
			.main-contacts__map#main-contacts__map
			.main-contacts__block-contact
				p.main-contacts__adress 
					| ООО ПК «Лаки Мастерс НН»
					br
					| Юр. адрес: 607684, Нижегородская область,
					br
					| Кстовский район, д. Крутая, ул. Приозёрная, дом 1а
				a.link.main-contacts__email(href='mailto:LuckyMasters@mail.ru')
					svg.link__icon
						use(xlink:href= $img + "sprite.svg#email")
					span.link__text LuckyMasters@mail.ru
				.main-contacts__numbers
					a.main-contacts__number(href='tel:+79200422588')
						svg.link__icon(width='17px' height='18px')
							use(xlink:href= $img + "sprite.svg#phone-call")
						span 8 920 042-25-88
					a.main-contacts__number(href='tel:+78312830349') 
						svg.link__icon(width='17px' height='18px')
							use(xlink:href= $img + "sprite.svg#phone-call")
						span 8 831 283-03-49
				a.btn.main-contacts__btn.js-scrollTo(href="#" data-scroll=".callback") Заказать звонок       