- var $project = 'assets/'
- var $media = $project + 'media/'
- var $img = $media + 'img/'

include components/header/header
include components/nav/nav
include components/hero/hero
include components/selection/selection
include components/callback/callback
include components/production/production
include components/employee-appeal/employee-appeal
include components/certificates/certificates
include components/our-video/our-video
include components/information/information
include components/contacts/contacts
include components/footer/footer

