mixin slider(section_name)
	div(class=section_name).slider

		.swiper-wrapper.slider__wraper
			.swiper-slide.slider__slide.slider__slide--1
				.container 
					p.h1-style.slider__header Производство и поставка фасовочного оборудования собственной разработки
					a.btn.slider__btn.js-open-popup(href='#' data-id='#popup-callback') Получить КП	
			.swiper-slide.slider__slide.slider__slide--2
				.container 
					p.h1-style.slider__header Оборудование для фасовки и упаковки пищевых продуктов
					a.btn.slider__btn.js-open-popup(href='#' data-id='#popup-callback') Получить КП
			.swiper-slide.slider__slide.slider__slide--3
				.container 
					p.h1-style.slider__header Оборудование для фасовки и упаковки сыпучих продуктов и строительных материалов
					a.btn.slider__btn.js-open-popup(href='#' data-id='#popup-callback') Получить КП	

		.container.slider__nav
			.swiper-pagination.slider__pagination
			.swiper-button-prev.slider-btn-prev
			.swiper-button-next.slider-btn-next
		
mixin advantages(section_name)
	div(class=section_name).advantages
		ul.flex-block
			li.flex-block__item.advantages__advantage 
				svg.advantages__icon
					use(xlink:href= $img + "sprite.svg#coins")
				h5.advantages__header Выгодное
				p.advantages__text соотношение цена-качество

			li.flex-block__item.advantages__advantage 
				svg.advantages__icon
					use(xlink:href= $img + "sprite.svg#architect")
				h5.advantages__header Профессиональный
				p.advantages__text подход к решению задач

			li.flex-block__item.advantages__advantage 
				svg.advantages__icon
					use(xlink:href= $img + "sprite.svg#diploma")
				h5.advantages__header Гарантия
				p.advantages__text качества предоставляемых услуг


mixin hero()
	section.hero
		+slider('hero__slider')
		+advantages('hero__advantages')
			